# Connect DB

In [1]:
import sqlite3
conn = sqlite3.connect("myData.db")
conn.close()

# Create Table

In [2]:
import sqlite3
conn = sqlite3.connect("myData2.db")   # 資料庫連線
cursor = conn.cursor()
sql = '''Create table students(  
        id int,
        name text,
        gender text)'''
cursor.execute(sql)                     # 執行SQL指令
cursor.close()                          # 關閉
conn.close()                            # 關閉資料庫連線

In [3]:
import sqlite3
conn = sqlite3.connect("myData3.db")     # 資料庫連線
sql = '''Create table students(  
        id int,
        name text,
        gender text)'''
conn.execute(sql)                       # 執行SQL指令
conn.close()                            # 關閉資料庫連線

# Insert Data

In [8]:
import sqlite3
conn = sqlite3.connect("myData3.db")     # 資料庫連線
print("請輸入myData3資料庫students表單資料")
while True:
    new_id = int(input("請輸入id : "))  # 轉成整數
    new_name = input("請輸入name : ")
    new_gender = input("請輸入gender : ")
    x = (new_id, new_name, new_gender)
    sql = '''insert into students values(?,?,?)'''  
    conn.execute(sql,x)
    conn.commit()                       # 更新資料庫
    again = input("繼續(y/n)? ")
    if again[0].lower() == "n":
        break
conn.close()                            # 關閉資料庫連線

請輸入myData3資料庫students表單資料

請輸入id :  1
請輸入name :  www
請輸入gender :  e
繼續(y/n)?  y
請輸入id :  2
請輸入name :  eeeee
請輸入gender :  w
繼續(y/n)?  y
請輸入id :  3
請輸入name :  dddddd
請輸入gender :  w
繼續(y/n)?  y
請輸入id :  5
請輸入name :  eewwww
請輸入gender :  r
繼續(y/n)?  no

# Query Data

In [9]:
import sqlite3
conn = sqlite3.connect("myData3.db")     # 資料庫連線
results = conn.execute("SELECT * from students")
for record in results:
    print(record) #tuple類型資料
    print("id = ", record[0])
    print("name = ", record[1])
    print("gender = ", record[2])
conn.close()                            # 關閉資料庫連線

(1, 'qqqqqq', 'w')
id =  1
name =  qqqqqq
gender =  w
(2, 'wwwww', 'm')
id =  2
name =  wwwww
gender =  m
(1, 'www', 'e')
id =  1
name =  www
gender =  e
(2, 'eeeee', 'w')
id =  2
name =  eeeee
gender =  w
(3, 'dddddd', 'w')
id =  3
name =  dddddd
gender =  w
(5, 'eewwww', 'r')
id =  5
name =  eewwww
gender =  r

In [15]:
import sqlite3
conn = sqlite3.connect("myData3.db")     # 資料庫連線
cursor=conn.cursor()

cursor.execute("SELECT * from students")

allstudents = cursor.fetchall()        # 結果轉成元素是元組的串列
for student in allstudents:
    print(student)
conn.close()                            # 關閉資料庫連線

(1, 'qqqqqq', 'w')
(2, 'wwwww', 'm')
(1, 'www', 'e')
(2, 'eeeee', 'w')
(3, 'dddddd', 'w')
(5, 'eewwww', 'r')

In [10]:
import sqlite3
conn = sqlite3.connect("myData3.db")     # 資料庫連線
results = conn.execute("SELECT name from students")
allstudents = results.fetchall()        # 結果轉成元素是元組的串列
for student in allstudents:
    print(student)
conn.close()                            # 關閉資料庫連線

('qqqqqq',)
('wwwww',)
('www',)
('eeeee',)
('dddddd',)
('eewwww',)

In [11]:
import sqlite3
conn = sqlite3.connect("myData3.db")     # 資料庫連線
sql = '''SELECT name, gender
        from students
        where gender = "f"'''
results = conn.execute(sql)
allstudents = results.fetchall()        # 結果轉成元素是元組的串列
for student in allstudents:
    print(student)
conn.close()                            # 關閉資料庫連線

# Update Data

In [16]:
import sqlite3
conn = sqlite3.connect("myData3.db")     # 資料庫連線
sql = '''UPDATE students
        set name = "Tomy"
        where id = 1'''
results = conn.execute(sql)
conn.commit()                           # 更新資料庫
results = conn.execute("SELECT name from students")
allstudents = results.fetchall()        # 結果轉成元素是元組的串列
for student in allstudents:
    print(student)
conn.close()                            # 關閉資料庫連線

('Tomy',)
('wwwww',)
('Tomy',)
('eeeee',)
('dddddd',)
('eewwww',)

# Delete Data

In [17]:
import sqlite3
conn = sqlite3.connect("myData3.db")     # 資料庫連線
sql = '''DELETE
        from students
        where id = 3'''
results = conn.execute(sql)
conn.commit()                           # 更新資料庫
results = conn.execute("SELECT name from students")
allstudents = results.fetchall()        # 結果轉成元素是元組的串列
for student in allstudents:
    print(student)
conn.close()                            # 關閉資料庫連線

('Tomy',)
('wwwww',)
('Tomy',)
('eeeee',)
('eewwww',)